<% include ./partials/header %>

<h1 id="dashboard-header" class="marginTop2 marginBottom">My Posts</h1>

<div class="ui grid container">
    <% posts.forEach(function(post){ %>
        <div class="four wide column">
            <div class="ui card">
                <div class="image">
                    <img src="<%= post.image %>">
                </div>
                <div class="content">
                    <a class="header marginBottom" href="/allPosts/<%= post._id %>"><%= post.title %></a>
                    <p class="header"><%= post.name %></p>
                    <div class="meta marginBottom">
                        <p><%= post.address %></p>
                    </div>
                    <div class="description marginBottom">
                        <%- post.caption.substring(0, 300) %>
                    </div>
                    <div class="extra content">
                        <a href="/allPosts/<%= post._id %>" class="ui green basic button">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    <% }); %>
</div>

<% include ./partials/footer %>